REACT_APP_FIREBASE_API_KEY=apiKey
REACT_APP_FIREBASE_AUTH_DOMAIN=projectId
REACT_APP_FIREBASE_DATABASE=https://databaseName.firebaseio.com
REACT_APP_FIREBASE_STORAGE_BUCKET=bucket
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=senderId
REACT_APP_FIREBASE_APP_ID=appId