*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

:root {
  --purple: #835afd;
  --violet: #e559f9;
  --white: #fff;
  --white-800: #f8f8f8;
  --white-900: #e2e2e2;
  --gray-100: #a8a8b3;
  --orange: #ea4335;
  --gray-300: #737380;
  --gray-800: #29292e;
}

body {
  background: var(--white-800);
  color: #29292E;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

button, input {
  outline: none;
  border: none;
}